[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "2.2.3"
sqlalchemy = "*"
flask-sqlalchemy = "3.0.3"
flask-migrate = "4.0.4"
flask-swagger = "0.2.14"
psycopg2-binary = "2.9.6"
python-dotenv = "1.0.0"
mysql-connector-python = "8.0.32"
flask-cors = "*"
gunicorn = "20.1.0"
mysqlclient = "2.1.1"
flask-admin = "1.6.1"
flask-jwt-extended = "4.4.0"
flask-bcrypt = "1.0.1"

[requires]
python_version = "3.10"

[scripts]
start="flask run -p 3000 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
reset_db="bash ./docs/assets/reset_migrations.bash"
upgrade="flask db upgrade"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
librerias = "pip freeze > requirements.txt"